@import './reset.css';

body {
  background-color: #171820;
  color: #fff;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

#root, main {
  height: min(56svh);
}

footer {
  height: min(43svh);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.FaStar {
  color: #555;
  margin: 2px;
  font-size: 32px;
  cursor: pointer;
}

.rating {
  margin-top: 40svh;
}

h1, h2 {
  text-align: center;
}

.yellow {
  color: #ff0;
}

button {
  border-radius: 15px;
  padding: 10px;
  margin-right: -8px;
  height: 5svh;
  color: #fff;
  background-color: #0000ff;
  border: 2px #00008b solid;
  transition: 0.25s;
}

button:hover, .popup {
  background-color: #00008b;
  border: 2px #000047 solid;
}

footer div {
  justify-content: flex-end;
}

footer div button {
  margin-top: 18svh;
}

.popup {
  border-radius: 15px;
  height: 20svh;
  text-align: center;
  padding: 1svh;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}